<%= form_with url: non_user_address_path, method: :post do |form| %>
  <div>
    <%= form.label :address %>
    <%= form.text_field :address, required: true %>
  </div>
  <div>
    <%= form.label :city %>
    <%= form.text_field :city, required: true %>
  </div>
  <div>
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code, required: true %>
  </div>
  <div>
    <%= form.label :province_id %>
    <%= form.select :province_id, options_for_select(Province.all.map { |province| [province.name, province.id] }), prompt: 'Select Province', required: true %>
  </div>
  <%= form.submit "Save Address" %>
<% end %>