<h1>Login</h1>

<%= form_tag login_path do %>
  <%= label_tag :email %>
  <%= email_field_tag :email, nil, required: true %>

  <%= label_tag :password %>
  <%= password_field_tag :password, nil, required: true %>

  <%= submit_tag 'Login' %>
<% end %>

<%= link_to 'Sign Up', new_customer_path %>
