<h1>Sign Up</h1>

<%= form_with(model: @customer, url: customers_path) do |form| %>
  <%= form.label :first_name %>
  <%= form.text_field :first_name, required: true %>
<br>
  <%= form.label :last_name %>
  <%= form.text_field :last_name, required: true %>
<br>
  <%= form.label :email %>
  <%= form.email_field :email, required: true %>
<br>
  <%= form.label :phone %>
  <%= form.text_field :phone, type: "tel" %>
<br>
  <%= form.label :address %>
  <%= form.text_field :address %>
<br>
  <%= form.label :city %>
  <%= form.text_field :city %>
<br>
  <%= form.label :postal_code %>
  <%= form.text_field :postal_code %>
<br>
  <%= form.label :province_id %>
  <%= form.select :province_id, Province.all.collect { |p| [p.name, p.id] }, prompt: "Select a province", required: true %>
<br>
  <%= form.label :password %>
  <%= form.password_field :password, required: true %>
<br>

<br>
  <%= form.submit 'Sign Up' %>
<% end %>

<%= link_to 'Login', login_path %>

<% if @customer.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>
    <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>