<h1 class="mb-3">Sign Up</h1>
<%= form_with model: @customer, url: customers_path, class: "mb-3",method: :get, local: true do |form| %>
  <div class="mb-3">
    <%= form.label :first_name, class: "form-label" %>
    <%= form.text_field :first_name, class: "form-control", required: true %>
  </div>
  <div class="mb-3">
    <%= form.label :last_name, class: "form-label" %>
    <%= form.text_field :last_name, class: "form-control", required: true %>
  </div>
  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-control", required: true %>
  </div>
  <div class="mb-3">
    <%= form.label :phone, class: "form-label" %>
    <%= form.telephone_field :phone, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :address, class: "form-label" %>
    <%= form.text_field :address, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :city, class: "form-label" %>
    <%= form.text_field :city, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :postal_code, class: "form-label" %>
    <%= form.text_field :postal_code, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :province_id, class: "form-label" %>
    <%= form.collection_select :province_id, Province.all, :id, :name, { prompt: "Select a province" }, class: "form-select", required: true %>
  </div>
  <div class="mb-3">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control", required: true %>
  </div>

  <%= form.submit 'Sign Up', class: "btn btn-primary" %>
<% end %>

<p class="text-center my-3">Already have an account? <%= link_to 'Log in', login_path, class: "text-decoration-none" %> here!</p>

<% if @customer.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>
    <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
