<!-- app/views/carts/inde.html.erb -->
<%= debug session[:cart] %>

<details>
  <summary>
    <ul>
      <% @cart.each do |cart_item| %>
        <li><%= "#{cart_item[:product].name} - #{cart_item[:quantity]}" %></li>
      <% end %>
    </ul>
  </summary>
</details>
<!-- app/views/carts/index.html.erb -->
<h1>Cart</h1>
<ul>
  <% @cart.each do |cart_item| %>
    <li>
      <%= "#{cart_item[:product].name} - #{cart_item[:quantity]}" %>
      <%= form_with url: update_quantity_product_path(cart_item[:product].id), method: :patch do |form| %>
        <%= form.number_field :quantity, value: cart_item[:quantity], min: 1 %>
        <%= form.submit "Update" %>
      <% end %>
      <%= button_to 'remove from cart', remove_from_cart_path(cart_item[:product].id), method: :delete %>
    </li>
  <% end %>
</ul>

<%= form_tag invoice_path, method: :get do %>
  <%= submit_tag "Checkout" %>
<% end %>