<h1>All Products</h1>

<%= link_to 'Products on Sale', products_path(sale_status: 'yes') %>
<br>
<%= link_to 'New Products', products_path(new_product: "yes") %>
<br>
<%= link_to 'Recently Updated Products', products_path(recently_updated: "yes") %>
<br>
<%= debug session[:cart] %>
<br>
<ul>
  <% @products.each do |product| %>
    <li><%= product.id %> | <%= link_to product.name, product_path(product) %> </li>
    <% if @cart.include?(product) %>
      <p>Product is in your cart</p>
    <% else %>
      <%= form_with url: add_to_cart_path(product.id), method: :post do |form| %>
        <%= form.submit "Add to cart" %>
      <% end %>
    <% end %>
  <% end %>
</ul>

<%= paginate @products %>
